
.weather-box{
    width: 200px;
}
.temperature-hot{
    background-color: tomato;
}
.temperature-cold{
    background-color: lightskyblue;
}
.temperature-good{
    background-color: darkseagreen;
}
.city-icon{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.city-icon:hover{
    color: aqua;
}
.map{
    animation-name: fadeIn;
    animation-duration: 7s;
}
@keyframes fadeIn {
    from   {opacity: 0}
    to {opacity: 1}
}
@media screen and (max-width: 500px){
    .weather-box{
        width: 150px;
    }
}

